/* src/App.css */
.app {
  display: flex;
  min-height: 100vh;
  background-color: #f7f7fa;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}


@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }
}